<!--views/partials/facebookapi.ejs-->
<script>
  var fb_api = false;
  window.fbAsyncInit = function(){
    fb_api = true;
  };
</script>

<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/km_KH/sdk.js#xfbml=1&version=v3.2"></script>