<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= site_title %></title>
    <script src="/javascripts/jQuery.js"></script>
    <link rel='stylesheet' href="/fonts/setup.css" >
    <link href="/images/site_logo.png" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
