<!--views/dashboard/author.ejs-->
<%- include('partials/head') %>
<%- include('partials/header') %>

<section class="index region">
<div class="main">
  <%- include('partials/sidebar') %>
  <div id="content">
    <textarea name="fcontent" id="editor" ></textarea>
    <script src="/javascripts/ckeditor/config.js"></script>
  </div>
</div>
</section>

<%- include('partials/footer') %>