<!--views/dashboard/index.ejs-->
<%- include('partials/head') %>
<%- include('partials/header') %>

<section class="index region">
<div class="main">
  <%- include('partials/sidebar') %>
  <div id="content"></div>
</div>
</section>

<%- include('partials/footer') %>