<!--views/index.ejs-->
<%- include('partials/head') %>
<%- include('partials/facebookapi') %>
<%- include('partials/header') %>

<link rel='stylesheet' href='/stylesheets/index.css' />
<script src='/javascripts/utility.js'></script>

<section id="panel"></section>
<section id="main"></section>

<%- include('partials/footer.ejs') %>