<!--views/index.ejs-->
<%- include('partials/head') %>
<%- include('partials/header') %>

<link rel='stylesheet' href='/stylesheets/index.css' />
<script src='/javascripts/utility.js'></script>

<section class="login region">
  
</section>

<%- include('partials/footer.ejs') %>