<!--views/index.ejs-->
<%- include('partials/head') %>
<%- include('partials/header') %>

<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
<script src='/javascripts/utility.js'></script>

<section class="login region">
  <form id="login" action="/admin/login" method="post">
    <span>Email:</span><input type="email" name="email" required />
    <span>ពាក្យ​សំងាត់ៈ</span><input type="password" name="password" required />
    <span></span><input type="submit" value="បញ្ជូន" />
  </form>
  <div style="text-align:center;" class="message"><%- message %></div>
  
</section>

<%- include('partials/footer.ejs') %>