/* public/stylesheets/login.css */
.login{
  background:lightgrey;
  border-radius:3px;
  max-width:450px;
}
#login{
  display:grid;
  grid-template-columns: 30% auto;
  grid-gap:5px;
  margin:30px auto 0;
  padding:20px;
  
}
#login span{
  text-align:right;
}
#login input{
  padding:0 5px;
}
#login input[type=submit]{
  font:14px/1.5 OdorMeanChey;
}