<!--views/partials/footer.ejs-->
<section class="footer region main">
  <div></div>
  <p class="copyright">© Copyright 2021 by <a href="https://www.khmerweb.app/">Khmer Web</a></p>
</section>

</body>
</html>
